:root {
  --modal-duration: 1s;
  --modal-color: #428bca;
}

body {
  background: #eff1f7;
  margin: 0;
  padding: 0;
}

.content {
  grid-area: content;
  background: #eff1f7;
  margin: 0;
}

.content h3 {
  text-align: center;
  color: #000;
  font-family: 'Maven Pro', sans-serif;
}

.sidebar {
  grid-area: sidebar;
  background: #005c97;
  justify-content: center;
}

.container {
  font-size: 1.5em;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "sidebar"
    "content";
  grid-template-columns: 1fr;
  grid-template-rows: 130px 800px 250px;
}

.sidebar {
  padding-right: 20px;
  text-align: center;
}

.content,
.footer {
  padding: 1em;
}

.navbar {
  display: none;
}


nav ul li:nth-child(5) {
  display: none;
}

nav ul {
  margin: 0;
  padding-left: 0px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

nav li {
  list-style: none;
  padding-left: 10px;
  padding-top: 0em;
  text-align: center;
}

nav li a {
  color: #fff;
  margin: 0;
  margin-bottom: 1.5em;
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-weight: 700;
  font-family: 'Bree Serif', serif;
  opacity: 0.8;
  text-decoration: none;
  transition: 0.3s;
}

nav li a:hover {
  opacity: 1;
}

nav p a {
  text-decoration: none;
  font-family: 'Modak', cursive;
  color: #fff;;
}

#search-icon {
  display: block;
  fill: #000;
  width: 30px;
  margin-top: -60px;
}

.search {
  display: none;
}

.search input {
  border: none;
  height: 50px;
  width: 100%;
  font-size: 1em;
  margin-left: -20px;
  padding-right: 40px;
}

.hero {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

.hero img {
  width: 208px;
  padding-top: 1em;
}

.hero h2 {
  font-size: 2em;
  font-weight: 300;
  color: #373046;
}

.hero p {
  font-weight: 300;
  line-height: 1.8em;
  color: #98a0ad;
}

.hero-content {
  border-bottom: #373046 solid;
  font-family: 'Maven Pro', sans-serif;
}

.logs ul li {
  margin: 0;
  padding-left: 10px;
  list-style: none;
  justify-content: space-between;
  text-align: center;
  float: right;
}

.logs ul li a {
  color: #000;
  margin: 0;
  padding-left: 0px;
  justify-content: space-between;
  font-weight: 700;
  opacity: 0.6;
  text-decoration: none;
  transition: 0.3s;
}

.logs ul li a:hover {
  opacity: 1;
}

.hero-content-article {
  background: #fff;
  font-family: 'Manjari', sans-serif;
  padding-left: 10px;
  font-size: 21.6px;
  margin: 0;
}

.hero-content-article p {
  color: rgb(63, 62, 62);
  text-align: left;
}

.hero-content-article h4 {
  text-align: center;
  padding-top: 4em;
}

.hero-content-article ul li {
  list-style: none;
  display: inline-block;
  padding-bottom: 1em;
  text-align: center;
}

#comment {
  width: 30px;
  padding-right: 5em;
  margin-left: -2em;
  fill: #867bfb;
}

#comment:hover {
  cursor: pointer;
  fill: blue;
}

.comment-active {
  fill: blue;
}

#thumb-down {
  width: 30px;
  fill: #867bfb;
}

#thumb-down:hover {
  cursor: pointer;
  fill: red;
}

.thumb-active {
  fill: red;
}

#delete-btn {
  width: 30px;
  cursor: pointer;
}

#edit-btn {
  padding-right: 5em;
  margin-left: -2em;
  fill: #000;
  width: 40px;
  cursor: pointer;
}

.name-time {
  font-size: 1em;
  padding-right: 1em;
}
.name-time #username-article {
  float: left;
}

.name-time #time-article {
  float: right;
}

.fixed-btn {
  position: fixed;
  bottom: 10%;
  right: 3%;
  background: #0facf3;
  width: 70px;
  height: 70px;
  border-radius: 80%;
  box-shadow: 4px 4px 4px #0a78aa;
  cursor: pointer;
}

.fixed-btn:active {
  box-shadow: 0 0;
}

#post-article {
  width: 40px;
  padding-top: 0.7em;
  padding-left: 0.7em;
  padding-bottom: 1em;
}

.action-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  background: #867bfb;
  padding: 0.5em 2em;
  border-radius: 40px;
  margin: 1em 0;
  transition: 0.3s;
}

.action-btn:hover {
  box-shadow: 0 10px 50px rgba(188, 197, 216);
}

footer ul {
  padding: 0;
  display: flex;
}

.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-content {
  width: 500px;
  height: 400px;
  background-color: white;
  opacity: 1;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  position: relative;
}

.modal-content form input{
  width: 80%;
  height: 2em;
  display: block;
  font-size: 1em;
  margin: 2em auto;
}

.modal-content form input:last-child {
  width: 200px;
  border-radius: 5px;
  border: none;
  height: 2em;
  display: block;
  font-weight: 700;
  margin: 2em auto;
  font-size: 1em;
  outline: none;
  background: #0facf3;
}

.modal-content form input:last-child:hover {
 background: #f30faf;
 cursor: pointer;
}
.modal-content form textarea {
  width: 80%;
  display: block;
  font-size: 1.375em;
  margin: 2em auto;
}

.close {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 60px;
  transform: rotate(45deg);
  cursor: pointer;
}

.msg-error {
  color: red;
}

.msg {
  color: green;
}

.bg-comment {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-comment {
  width: 800px;
  height: auto;
  background-color: white;
  opacity: 1;
  border-radius: 5px;
  text-align: center;
  position: relative;
}
.modal-comment .hero-content-article:hover{
  background: none;
}

.modal-comment form input {
  width: 200px;
  border-radius: 5px;
  border: none;
  height: 2em;
  display: block;
  margin: 2em auto;
  font-size: 1em;
  outline: none;
  background: #0facf3;
}

.modal-comment form input:hover {
 background: #f30faf;
 cursor: pointer;
}


.modal-comment form textarea {
  width: 100%;
  display: block;
  font-size: 0.7em;
  margin: 1.5em auto;
}

.close-icon {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 60px;
  transform: rotate(45deg);
  cursor: pointer;
}

.bg-edit {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  padding: 20px;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-edit {
  width: 800px;
  height: auto;
  background-color: white;
  opacity: 1;
  border-radius: 5px;
  text-align: center;
  position: relative;
  
}

.modal-edit .hero-content-article:hover{
  background: none;
}

.modal-edit form input {
  width: 80%;
  height: 2em;
  display: block;
  font-size: 1em;
  margin: 2em auto;
}

.modal-edit form input:last-child {
  width: 200px;
  border-radius: 5px;
  border: none;
  height: 2em;
  display: block;
  font-weight: 700;
  margin: 2em auto;
  font-size: 1em;
  outline: none;
  background: #0facf3;
}

.modal-edit form input:last-child:hover {
 background: #f30faf;
 cursor: pointer;
}


.modal-edit form textarea {
  width: 80%;
  display: block;
  font-size: 1.3em;
  margin: 1.5em auto;
}

.close-edit {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 60px;
  transform: rotate(45deg);
  cursor: pointer;
}

@media (min-width: 700px){
  .modal-comment {
    margin-left: 2em;
    margin-right: 2em;
  }
}

@media (min-width: 900px) {
  .sidebar nav {
    text-align: center;
  }

  .container {
    grid-template-areas:
      "sidebar content"
      "sidebar footer";
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr auto;
  }

  nav ul li:first-child {
    display: block;
  }

  nav ul li:nth-child(6) {
    display: block;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: fixed;
    background: none;
    text-align: center;
    padding-left: 3em;
    padding-top: 3em;
  }

  nav ul li a:active {
    color: #d3cce3;
    opacity: 1;
  }

  nav ul li:nth-child(5) {
    display: block;
  }

  nav p {
    margin-top: -1em;
    font-size: 1.5em;
    position: fixed;
    padding-left: 1.8em;
   
  }

  .content {
    padding: 0;
    margin: 0;
  }

  .sidebar {
    background: #005c97;
    padding-top: 3em;
    color: #fff;
  }

  .search {
    display: none;
  }

  #search-icon {
    display: none;
  }

  .logs {
    display: none;
  }

  .hero {
    text-align: left;
    margin: 0em auto;
  }

  .hero img {
    width: 250px;
    float: right;
    padding-right: 1em;
  }

  .hero h2 {
    font-size: 2em;
    padding-top: 2em;  
  }

  .hero-content {
    border-bottom: #373046 solid;
  }

  .hero-content-article {
    margin-left: 8%;
    margin-right: 8%;
    padding-left: 10px;
  }

  .hero-content-article:hover {
    background: #e0eafc;
  }

  .hero-content-article p {
    font-size: 0.9em;
    padding-left: 10px;
    padding-right: 15px;
  }

  #comment {
    float: left;
    margin-left: 11em;
  }

  #comment:hover {
    cursor: pointer;
    fill: #867bfb;
  }

  #thumb-down {
    float: right;
  }

  #thumb-down:hover {
    cursor: pointer;
    fill: red;
  }

  #edit-btn {
    float: left;
    margin-left: 11em;
  }

  footer {
    max-width: 960px;
  }

  .navbar {
    display: block;
  }

  header {
    padding: 25px;
    color: white;
    display: flex;
    background: #34495e;
    flex-flow: wrap;
    justify-content: space-between;
  }

  #search-topic {
    font-family: 'Manjari', sans-serif;
    font-size: 1em;
    flex: 1;
  }

  #inputBox {
    font-family: "Quicksand", sans-serif;
    border: none;
    padding-left: 6px;
    font-size: 0.8em;
    margin: 0px 20px;
    flex: 2;
    height: 40px;
  }

  #inputBox::placeholder {
    color: lightgray;
  }

  .modal-content {
    width: 700px;
    height: 400px;
  }

  .modal-content form input {
    font-size: 1.2em;
  }

  .vote {
    fill: red;
  }

}