body { 
    font-family: sans-serif;
    background: linear-gradient(to right, #ece9e6, #ffffff);
}

.container {
    max-width: 1005px;
    margin: 0 auto;
    padding: 1em 1em;
}

.logo h2 {
    font-family: 'Patua One', cursive;
    color: #000;
    font-size: 2em;
}

header {
    text-align: center;
}

nav {
    margin: 2em auto 0;
    max-width: 600px;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    color: #000;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    
}

nav ul li a {
    font-size: 1.25em;
   
    font-weight: 700;
    text-decoration: none;
    font-family: 'Bree Serif', serif;
}

nav ul li a:hover{
    color: #e8cbc0;
}

main {
    display: flex;
    flex-flow: column-reverse;
}

.hero {
    text-align: center;
    font-family: 'Maven Pro', sans-serif;
}

.hero h1 {
    font-family: 'Comfortaa', cursive;
}

.hero p:before {
    width: 120px;
    content: "";
    display: block;
    margin: 1em auto;
    border: 2px solid #ffdb37;
}

figure {
    text-align: center;
}

figure img {
    text-align: center;
    width: 300px;
}

.join {
    text-align: center;
}
.join a {
    background: linear-gradient(to right, #3494e6, #ec6ead);
    padding: 1em 3em;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    font-size: 1.375em;
    font-weight: 700;
    margin-top: 2em; 
    font-family: 'Comfortaa', cursive;
}

.join a:hover {
    background: linear-gradient(to right, #009fff, #ec2f4b);
     
}

.footer {
    text-align: center;
    padding-top: 2em;
    font-size: 1.3em;
    font-family: 'Maven Pro', sans-serif;
}

@media screen and (min-width: 820px) {
    header {
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
        align-items: center;
    }

    .logo h2 {
        font-size: 2em;
    }

    nav {
        margin: 0;
    }

    nav ul {
        margin: 0;
        padding: 0;
        display: flex;
    }

    nav ul li {
        list-style: none;
        padding: 0.5em 2em;
    }

    nav ul li a {
        font-size: 1.375em;
        color: #000;
        font-weight: 700;
        text-decoration: none;
    }

    .highlight {
        border: 3px solid #ffdb37;
        border-radius: 50px;
    }

    main {
        flex-flow: row;
    }

    .hero {
        text-align: left;
    }

    .hero h2 {
        font-size: 3em;
        margin-top: -0.6em;
        padding-right: 2em; 

    }

    .hero p:before {
        margin: 1em 0;
    }

    .hero p {
        font-size: 1.3em;
        padding: 0;
        margin: 0 0;
    }

    figure img {
        width: 110%;
    }
}